.header {
    overflow: hidden;
    background-color: #4e56f5da;
    padding-bottom: 10px; 
  }
  
  .header a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin:5px 5px;
    margin-left: 10px;
    padding: 1px 1px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgba(255, 243, 243, 0);
    color: rgb(5, 5, 5);
    border-radius: 10px;
  }
  
  .searchbutton{
    position: absolute;
    right: 15px;
    margin-top: 25px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #4e56f5da;
    background-color: #FFFBF5;
  }
  
  .searchbar{
    width:50%;
    height: 35px;
    margin-top: 22px;
    margin-right:45px;
    float:right;
    border-radius: 20px;
    padding-left: 10px;
    color: #4e56f5da;
    background-color: #FFFBF5;
    font-size: 18px;
    
  }
  
  .dropdown{
    height: 3%;
    width:7%;
    margin-left: 10px;
    background-color:rgb(252, 242, 242);
    border: none;
    color:black;
    cursor: pointer;
  }
  .button{
    height: 4%;
    width:7%;
    margin-left: 10px;
    background-color:rgb(252, 242, 242);
    border: none;
    color:black;
    border-radius: 5px;
    cursor: pointer;
  }

  .searchbutton:hover{
    position: absolute;
    transform:scale(1.2);
    border-radius: 20%;;
  }