.column1 {
    float: left;
    width: 30%;
    margin-left: 7%;
    margin-top: 5%;
  }
  
  .column2 {
    float: left;
    width:50%;
    margin-top: 5%;
  }

  .image_path{
    text-transform: capitalize;
    font-size: 16px;
  }
  .image_title{
    text-transform: capitalize;
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-stretch: condensed;
  }

  .image_body{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
  }

  .price{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
  }
  .image:hover{
    transition:1s;
    transform: scale(1.1);
    background-color: #e9e9e9;
    border-radius: 5%;
    box-shadow: rgba(170, 0, 255, 0.12) 0px 54px 55px, rgba(170, 0, 255, 0.12) 0px -12px 30px, rgba(170, 0, 255, 0.12) 0px 4px 6px, rgba(170, 0, 255, 0.17) 0px 12px 13px, rgba(170, 0, 255, 0.09) 0px -3px 5px;
  }

  .image{
    height: 400px;
    width: auto;
  }