.container{
  background-color:#FFFBF5;
}

.column1 {
    float: left;
    width: 30%;
    height: 450px;
    margin-left: 7%;
    margin-top: 5%;
    padding-left:50px;
    padding-top:50px;
    background-color:#abcdef;
  }
  
  .column2 {
    float: left;
    width:50%;
    height: 500px;
    margin-top: 5%;
    padding-left: 10px;
    background-color:#abcdef;
  }

  .image_title{
    text-transform: capitalize;
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-stretch: condensed;
  }

  .image_body{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
  }

  .price{
    font-size: 30px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'fantasy','copperplate';
    padding: 10px;
    color:#4e56f5da;
  }
  .image:hover{
    transition:1s;
    transform: scale(1.1);
    border-radius: 5%;
    box-shadow: rgba(78, 205, 135, 0.12) 0px 54px 55px, rgba(78, 205, 135, 0.12) 0px -12px 30px, rgba(78, 205, 135, 0.12) 0px 4px 6px, rgba(78, 205, 135, 0.17) 0px 12px 13px, rgba(78, 205, 135, 0.09) 0px -3px 5px;
    border:none;
  }

  .image{
    height: 400px;
    width: auto;
    border-radius: 5%;
    border: 0.5px solid gray;
  }