
.header {
  overflow: hidden;
  background-color: #C3ACD0;
  padding-bottom: 10px; 
  height: 100%;
}

.header a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  margin:5px 5px;
  margin-left: 10px;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 17px;
  background-color: rgba(255, 243, 243, 0);
  color: rgb(5, 5, 5);
  border-radius: 10px;
}

.searchbutton{
  position: absolute;
  right: 15px;
  margin-top: 25px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #860000;
  background-color: #FFFBF5;
}

.searchbar{
  width:50%;
  height: 35px;
  margin-top: 22px;
  margin-right:45px;
  float:right;
  border-radius: 20px;
  padding-left: 10px;
  color: #860000;
  background-color: #FFFBF5;
  font-size: 18px;
  
}

.dropdown{
  height: 3%;
  width:7%;
  margin-left: 10px;
  background-color:rgb(252, 242, 242);
  border: none;
  color:black;
  cursor: pointer;
  text-align: center;
}
.button{
  height: 4%;
  width:7%;
  margin-left: 10px;
  background-color:rgb(252, 242, 242);
  border: none;
  color:black;
  border-radius: 5px;
  cursor: pointer;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  background-color:rgb(255, 255, 255);;
  margin: 7.5px 7.5px 0px 7.5px;
  padding-bottom: 15px;

}

div > div{
  padding: 10px;
}

.image{
  margin: 10% auto 0% auto;
  display: block;
  height: 250px;
  width: 200px;
  border-radius: 10px;
}

.image_text{
  text-transform: capitalize;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  padding: 0% 25% 0% 28%;
}

.price{
  text-align: center;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0% 25% 0% 28%;
  
}

.column:hover{
  transform:scale(1.2);
  border-radius: 5%;
  margin-top: 25px;
  transition:.5s;
}

.image:hover{
  box-shadow: rgba(170, 0, 255, 0.10) 0px 54px 55px, rgba(170, 0, 255, 0.10) 0px -12px 30px, rgba(170, 0, 255, 0.10) 0px 4px 6px, rgba(170, 0, 255, 0.15) 0px 12px 13px, rgba(170, 0, 255, 0.09) 0px -3px 5px;
  transform: scale(1.2,1.1);
  border-radius: 5%;
  transition:.5s;
}

.searchbutton:hover{
  position: absolute;
  transform:scale(1.2);
  border-radius: 20%;;
}

.center {
  display: block;
  margin-left: 300px;
  margin-right: 500px;
  width: 100%;
}

#sort{
  background-color: rgb(255, 243, 243);
  margin: 10px 0px 10px 90%;
}

.sub-header{
  background-color: #f8edff;
  margin: 0px 7.5px 0px 7.5px;
}
