
.header {
  overflow: hidden;
  background-color: #e88181;
  padding-bottom: 10px; 
}

.header a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  margin:5px 5px;
  margin-left: 10px;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 17px;
  background-color: rgba(255, 243, 243, 0);
  color: rgb(5, 5, 5);
  border-radius: 10px;
}

.searchbutton{
  position: absolute;
  right: 15px;
  margin-top: 25px;
  height: 35px;
  width: 35px;
  border-radius: 5%;;
  color: #e88181;
  background-color: rgb(255, 243, 243);
}

.searchbar{
  width:50%;
  height: 40px;
  margin-top: 20px;
  margin-right:45px;
  float:right;
  border-radius: 10px;
  padding-left: 10px;
}

.dropdown{
  height: 3%;
  width:7%;
  margin-left: 10px;
  background-color:rgb(255, 243, 243);
  color:black
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

div > div{
  padding: 10px;
}

.image{
  margin: 10% 25% 0% 25%;
  height: 250px;
  width: 200px;
}

.image_text{
  text-align: center;
  padding: 0% 25% 0% 25%;
}

.column:hover{
  transform:scale(1.2);
  border-radius: 5%;
}

.image:hover{
  box-shadow: rgba(255, 0, 0, 0.12) 0px 54px 55px, rgba(255, 0, 0, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px, rgba(255, 0, 0, 0.17) 0px 12px 13px, rgba(255, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.2,1.1);
  border-radius: 5%;
}

.searchbutton:hover{
  position: absolute;
  transform:scale(1.2);
  border-radius: 20%;;
}

.link{
  text-decoration: none;
  color:black;
  outline:none;
}