.footer-section{
    display: absolute;
    justify-content: left;
    align-items: center;
    min-height: 5vh;
    border: none;
}

.page{
    display:flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.25rem 0.5rem;
    background-color: #C3ACD0;
    border-color: none;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.text-footer{
    margin: 0.25rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    color: #ffffff;
    text-decoration: none;
    background-color:#674188;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight:1000;
    font-family: 'sans-serif','verdana';;
}

.text-footer:hover{
    transform: scale(1.2);
    background-color:#674188;
    font-size: 20px;
}

.product-text{
    float: right;
    text-align: right;
    margin: 15px 15px 15px 50px;
    font-weight: 200;
    font-size: 16px;
    font-family: 'sans-serif','verdana';;
}

.return-home{
    display: flex;
    position:fixed;
    bottom: 10px;
    margin-left: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    text-decoration: none;
    background-color:#674188;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}