  .header-col1 {
    float: left;
    color: #674188;
  }
  
  .left {
    width: 25%;  }
  
  .right {
    width: 70%;  }
  
  .header-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .header-row{
  background-color: #674188;
  }

  .active{
    width: 50px;
    height: 50px;
    animation: fadeIn 3s; 
    cursor: pointer;

    
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .searchbutton{
    position: absolute;
    right: 20px;
    height: 35px;
    width: 35px;
    margin-top: 4.25px;
    border-radius: 50%;
    color: #674188;
    background-color: #ffffff;
    
  }
  
  .searchbar{
    width:70%;
    height: 35px;
    margin-right: 10px;
    float:right;
    border-radius: 20px;
    color: #674188;
    background-color: #ffffff;
    font-size: 18px;
    text-indent: 10px;
    font-family: 'sans-serif','verdana';
  }

  .button{
    position:relative;
    height: 25px;
    width:125px;
    background-color: #F7EFE5;
    border: none;
    color:black;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
  }

  .searchbutton:hover{
    position: absolute;
    transform:scale(1.2);
    border-radius: 20%;
    
  }

  .left-menu{
    position:relative;
    display: inline-block;
    margin-left: 10px;
  }

  .left-menu:hover .dropdown-menu{
    display:list-item; 
    list-style-type:none;
    cursor: pointer;
  }

  .right-menu{
    position:relative;
    display: inline-block;
    z-index: 2;
  }

  .dropdown-menu{
    display: none;
    position: absolute;
    min-width: 125px;
    z-index: 3;
  }

  .dropdown-menu li:hover{
    background-color:#674188;
    color:#ffffff;
    transform: scale(1.3);
    z-index: 3;
  }

  .right-menu:hover .dropdown-menu{
    display:list-item; 
    list-style-type:none;
    cursor: pointer;
  }

  ul{
    padding: 0px;
  }
  .hover-button{
    height: 25px;
    width: 175px;
    list-style-type:none;
    background-color: #F7EFE5;
    list-style-position: outside;
    left:0;
    text-align: center;
    padding-top: 5px;
    border: 1px solid gray;
    z-index: 2;
    cursor: pointer;
    font-family: 'sans-serif','verdana';
  }

  #sort{
    position:relative;
    height: 30px;
    width:140px;
    background-color: #F7EFE5;
    border: none;
    color:black;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 7px;
  }